<div class="zona__nav">
    <div class="nav">
        <input type="checkbox" id="nav__check">
        <div class="nav__header">
          <div class="nav__title">
            AIRLINE
          </div>
        </div>
        <!-- Verificar la activacion de la barra de navegacion  -->
        <div class="nav__btn">
          <label for="nav__check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        <!-- Elementos a mostrar en la barra de navehación -->
        <div class="nav__links">
          <a href="" >Home</a>
          <a href="" >About</a>
          <a href="" >Destinations</a>
          <a href="" >Contact</a>
          <a href="" >En</a>
        </div>
    </div>
</div>