<footer class="footer">
    <section class="contenido__footer">
        <article class="contenido__footer__redes">
            <div class="contenido__footer__tittle">
                <p class="">Follow Us</p>
            </div>
            
            <div class="contenido__footer__iconos">
                <div class="contenido__footer__iconos__icono">
                    <img src="../../../../assets/resources/facebook.svg" alt="Logo facebook">
                </div>
                <div class="contenido__footer__iconos__icono">
                    <img src="../../../../assets/resources/instagram.svg" alt="Logo instagram">
                </div>
                <div class="contenido__footer__iconos__icono">
                    <img src="../../../../assets/resources/twitter.svg" alt="Logo twitter">
                </div>
            </div>
        </article>

        <section class="contenido__footer__datos">
            <article class="contenedor contenido__footer__datos__aboutus">
                <p class="contenido__footer__datos__titulo">About Us</p>
                <p class="contenido__footer__datos__info">we want to help passengers to reach their destinations</p>
            </article>
            <article class="contenedor contenido__footer__datos__explore">
                <p class="contenido__footer__datos__titulo">Explore</p>
                <div class="contenido__footer__datos__opciones">
                    <p>Home</p>
                    <p>Detinations</p>
                    <p>About</p>
                </div>
            </article>
            <article class="contenedor contenido__footer__datos__information">
                <p class="contenido__footer__datos__titulo">Information</p>
                <div class="contenido__footer__datos__opciones">
                    <p>More search</p>
                    <p>Blog</p>
                    <p>Testimonials</p>
                </div>
            </article>
            <article class="contenedor contenido__footer__datos__services">
                <p class="contenido__footer__datos__titulo">Services</p>
                <div class="contenido__footer__datos__opciones">
                    <p>Manage My Bookings</p>
                    <p>Checkin</p>
                    <p>Hotel</p>
                    <p>Cars</p>
                </div>
            </article>
        </section>
    </section>
</footer>
