<app-header></app-header>
<section class="main">
    <div class="main__contenido">
        <div class="main__contenido__titulo">
            <h1>Offers</h1>
            <div class="main__contenido__titulo__linea">
            </div>
        </div>
        <section class="main__contenido__ofertas">

            <article class="ofertas">
                <div class="main__contenido__ofertas__lugares">
                    <div class="main__contenido__ofertas__lugares__lugar">
                        <p class="trip__to">Trip to Moscow</p>
                        <p class="price">Price $600,86</p>
                        <div class="main__contenido__ofertas__lugares__lugar--opacidad">
    
                        </div>
                        <img src="../../../../assets/resources/moscow.jpg" alt="Trip to moscow">
                    </div>
                    <div class="main__contenido__ofertas__lugares__lugar">
                        <p class="trip__to">Trip to Puerco Rico</p>
                        <p class="price">Price $600,86</p>
                        <div class="main__contenido__ofertas__lugares__lugar--opacidad">
    
                        </div>
                        <img src="../../../../assets/resources/puerto-rico.jpg" alt="Trip to moscow">
                    </div>
                    <div class="main__contenido__ofertas__lugares__lugar">
                        <p class="trip__to">Trip to Honduras</p>
                        <p class="price">Price $600,86</p>
                        <div class="main__contenido__ofertas__lugares__lugar--opacidad">
    
                        </div>
                        <img src="../../../../assets/resources/honduras.jpg" alt="Trip to moscow">
                    </div>
                </div>
                
                <div class="elegir__lugar">
                    <hr>
                    <p class="Chosen__destination">Chosen destination</p>
                </div>
            </article>

            <article class="main__contenido__ofertas__menu">
                <p class="main__contenido__ofertas__menu__titulo">Menu</p>
                <div class="lista">
                    <div class="lista__elemento">
                        <div class="forma">
                        </div>
                        <p class="item">Check-in</p>
                    </div>
                    
                    <div class="lista__elemento">
                        <div class="forma">
                        </div>
                        <p class="item">Manage My Booking</p>
                    </div>

                    <div class="lista__elemento">
                        <div class="forma">
                        </div>
                        <p class="item">Search</p>
                    </div>

                    <div class="lista__elemento">
                        <div class="forma">
                        </div>
                        <p class="item">Destinations</p>
                    </div>

                    <div class="lista__elemento">
                        <div class="forma">
                        </div>
                        <p class="item">Members</p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</section>
<app-footer></app-footer>
