<header class="header">
    <div class="header__contenido">
        <app-navbar></app-navbar>

        
        <section class="header__contenido__informacion">
            <div class="header__contenido__informacion__texto">
                <article class="header__contenido__informacion__texto__mostrar">
                    <p class="header__contenido__informacion__texto__mostrar__encabezado">Visit Canada with prices from $800</p>
                    <p class="header__contenido__informacion__texto__mostrar__descripcion">Prepare your bags and forget your worries <br/> to start enjoying your holidays in this fantastic country</p>
                </article>
        
                <div class="header__contenido__informacion__button">
                    <button class="boton__comprar">BUY NOW</button>
                </div>
            </div>
        </section>
    </div>
</header>